*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    }
    $cl:#ffffff;
    $c:#FBE4D6;
    $cc:#261FB3;
    $ccc:#161179;
    $cccc:#0C0950;
    
    #backend{
        height: 100dvh;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
     #form{
        width: clamp(350px,80dvw,600px);
        height: clamp(500px,70dvh,900px);
        h1{
            font-size: 42px;
            font-weight: 700;
        }
        #back{
            text-decoration: none;
            background-color: $ccc;
            color: $c;
            font-size: 24px;
            font-weight: 700;
            padding: 5px 8px;
            border-radius: 2px;
            cursor: pointer;
        }
        form{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            font-size: 18px;
            .error{
                color: red;
                margin-left: 10px;
            }
            input{
                font-size: 18px;
                align-self: flex-start;
                padding: 3px 5px;
                outline: none;
                border: 3px solid $cccc;
                border-radius: 3px;
                margin-bottom: 5px;
                &:focus{
                    border-color: $cc;
                }
            }
            #status{
                margin-block: 5px;
                label :first-child{
                    margin-right: 10px;
                }
                label :not(:first-child){
                    margin-inline: 10px;
                }
            }
            #button{
                margin-block: 5px;
                button{
                    background-color: $ccc;
                    color: $c;
                    font-size: 18px;
                    font-weight: 700;
                    padding: 3px 5px;
                    border-radius: 2px;
                    cursor: pointer;
                }
            }
        }
     }
       
        
    }
    
   