*{
padding: 0;
margin: 0;
box-sizing: border-box;
overflow: hidden;
}
$cl:#ffffff;
$c:#FBE4D6;
$cc:#261FB3;
$ccc:#161179;
$cccc:#0C0950;

#backend{
    height: 100dvh;
    display: flex;
    position: relative;
    #hamburger-menu{
      display: none;
        position: absolute;
        right: 3dvw;
        top: 3dvh;
        font-size: 40px;
        background: none;
        border: none;
        color: $ccc;
        font-weight: 700;
        cursor: pointer;
        transition: 0.5s;
        &.open{
            transform: rotateZ(0.25turn);
        }
    }
    #side-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100dvh;
        width: 300px;
        background-color: $ccc;
        padding-block: 20px;
        #img-box{
            width: 80%;
            height: 100px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h4{
            font-size: 32px;
            color: $c;
            font-weight: 700;
            margin-block-start: 5px;
            margin-block-end: 10px;
        }
        a{
            text-decoration: none;
            color: $c;
            font-size: 24px;
            width: 70%;
            text-align: center;
            //box-shadow: 0 0 4px 2px $c;
            padding: 5px;
            margin-block: 10px;
            transition: 0.5s;
            &:hover{
              color: $cl;
            }
        }
    }
    #list{
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100dvw - 300px);
        table{
          border-collapse: collapse;
          width: clamp(400px,80%,1000px);
          border: 1px solid $ccc;
          box-shadow: 0 0 3px 1px $ccc;
          accent-color: $ccc;
          td,th{
            border: 1px solid $ccc;
            text-align: center;
          }
          th{
            font-weight: 700;
            font-size: 20px;
            padding: 3px 5px;
          }
          td{
            font-size: 18px;
            padding: 2px 5px;
           
            a{
                display:inline-flex;
                justify-content: center;
                align-items: center;
               width: 32px;
               height: 32px;
               margin-inline: 2px;
               border-radius: 2px;
               background-color: $ccc;
               color: $c;
               cursor: pointer;
               font-weight: 700;
             
            }
          }
        }
        #grid{
          display: none;
        }
    }
}

@media screen and (max-width:768px) {
  #backend{
    #hamburger-menu{
      display: inline;
    }
    #side-menu{
      position: absolute;
      right: 0;
      top:10dvh;
      width: 0px;
      z-index: 1;
     opacity: 0;
     height: 90dvh;
     transition: 0.5s;
     justify-content: space-around;
     white-space: nowrap;
     #img-box{
      width: 20%;
     }
      &.open{
        width: 100dvw;
        opacity: 1;
      }
    }
    #list{
      width: 100%;
      table{
        display: none;
      }
      #grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
        overflow-y: auto;
        height: calc(75dvh + 10px);
        .item{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          border: 2px solid $ccc;
          border-radius: 2px;
          padding: 5px 10px;
          font-size: 18px;
          width: clamp(150px,30dvw,200px);
          height: clamp(180px,25dvh,230px);
          accent-color: $ccc;
          input[type="checkbox"]{
            width: 20px;
            height: 20px;
            align-self: flex-end;
          }
         .button{
          a{
            display:inline-flex;
            justify-content: center;
            align-items: center;
           width: 32px;
           height: 32px;
           margin-inline: 2px;
           border-radius: 2px;
           background-color: $ccc;
           color: $c;
           cursor: pointer;
           font-weight: 700;
         
        }
         }
        }
      }
    }
  }
}