*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    }
    $cl:#ffffff;
    $c:#FBE4D6;
    $cc:#261FB3;
    $ccc:#161179;
    $cccc:#0C0950;
    
    #mask{
        background-color: rgba($color: #000000, $alpha: 0.7);
        width: 100dvw;
        height: 100dvh;
        #loading{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            position: fixed;
              width: 300px;
              height: 250px;
              left: 50%;
              top: 50%;
              transform: translate(-50%,-50%);
              border-radius: 2px;
              border: 2px solid $c;
              box-shadow: 0 0 3px 1px $c;
              background-color: #ffffff;
              img{
                width: 80px;
                height: 80px;
              }
              p{
                font-weight: 700;
                font-size: 42px;
              }
          }
    }
  
    
   