
@font-face {
    font-family: "nani-font";
    src: url("font/NaniFont-Regular.ttf");
  }

  *{
padding: 0;
margin: 0;
box-sizing: border-box;
overflow: hidden;
}
$c:#FBE4D6;
$cc:#261FB3;
$ccc:#161179;
$cccc:#0C0950;


#page{
    position: relative;
    height: 100dvh;
    display: grid;
    place-items: center;
    #login{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-family: nani-font;
            font-size: 46px;
            margin-bottom: 5px;
            letter-spacing: 2px;
            background-image: linear-gradient(48deg,$cc,$cccc);
            color: transparent;
            background-clip: text;
        }
        h2{
            font-size: 28px;
            margin-bottom: 10px;
        }
        #login-form{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: clamp(350px,80dvw,400px);
            height: clamp(400px,40dvh,500px);
            border-radius: 3px;
            border: 3px solid $cccc;
            #account,#password,#captcha-code{
                font-size: 24px;
                padding: 3px 5px;
                outline: none;
                border: 3px solid $cccc;
                border-radius: 3px;
                &:focus{
                    border-color: $cc;
                }
            }
            .input-block{
                width: 80%;
            }
            #captcha-code{
                width: 10ch;
            }
            #captcha{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            #captcha-image{
                width: 108px;
                height: 40px;
                border: 2px solid black;
            }
            #refresh{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                font-size: 32px;
                font-weight: 700;
                border: none;
                background: none;
                cursor: pointer;
                transition: 0.2s;
                &:hover{
                    filter: brightness(120%);
                }
            }
            #login-btn{
                font-size: 24px;
                font-weight: 700;
                background-color: $cccc;
                color: $c;
                padding: 3px 5px;
                border-radius: 3px;
                cursor: pointer;
            }
            a{
                font-size: 20px;
                text-decoration: none;
                color: black;
            }
            .error{
                color: red;
                margin-left: 10px;
            }
        }
    }
    h4{
        font-size: 18px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
}