*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    }
    $cl:#ffffff;
    $c:#FBE4D6;
    $cc:#261FB3;
    $ccc:#161179;
    $cccc:#0C0950;
    
        #hamburger-menu{
          display: none;
            position: absolute;
            right: 3dvw;
            top: 3dvh;
            font-size: 40px;
            background: none;
            border: none;
            color: $ccc;
            font-weight: 700;
            cursor: pointer;
            transition: 0.5s;
            &.open{
                transform: rotateZ(0.25turn);
            }
        }
        #side-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100dvh;
            width: 300px;
            background-color: $ccc;
            padding-block: 20px;
            #img-box{
                width: 80%;
                height: 100px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            h4{
                font-size: 32px;
                color: $c;
                font-weight: 700;
                margin-block-start: 5px;
                margin-block-end: 10px;
            }
            a{
                text-decoration: none;
                color: $c;
                font-size: 24px;
                width: 70%;
                text-align: center;
                //box-shadow: 0 0 4px 2px $c;
                padding: 5px;
                margin-block: 10px;
                transition: 0.5s;
                &:hover{
                  color: $cl;
                }
            }
        }
      
    
    
    @media screen and (max-width:768px) {
    
        #hamburger-menu{
          display: inline;
        }
        #side-menu{
          position: absolute;
          right: 0;
          top:10dvh;
          width: 0px;
          z-index: 1;
         opacity: 0;
         height: 90dvh;
         transition: 0.5s;
         justify-content: space-around;
         white-space: nowrap;
         #img-box{
          width: 20%;
         }
          &.open{
            width: 100dvw;
            opacity: 1;
          }
        }

    }