* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#backend {
  height: 100dvh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
#backend #orientation-remind{
  display: none;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 2px;
}

#backend #list {
 overflow-y: auto;
 height: 80%;
  width: calc(100dvw - 300px);
}
#backend #list #function{
  width: clamp(400px, 80%, 1000px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin:  0 auto;
}
#backend #list #function a{
  background-color: #161179;
  color: #fbe4d6;
  font-size: 18px;
  font-weight: 700;
  padding: 3px 5px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
}
#backend #list #function #export-area{
  display: flex;
  align-items: center;
  margin-block: 10px;
}
#backend #list #function #export-area select,#backend #list #function #export-area option{
  font-size: 18px;
  padding: 3px 5px;
  outline: none;
  border: 2px solid #0c0950;
  border-radius: 3px;
}
#backend #list #function #export-area #export{
  margin-left: 5px;
}
#backend #list table {
  border-collapse: collapse;
  width: clamp(400px, 80%, 1000px);
  border: 1px solid #161179;
  box-shadow: 0 0 3px 1px #161179;
  accent-color: #161179;
  margin: 0 auto;
}
#backend #list table td, #backend #list table th {
  border: 1px solid #161179;
  text-align: center;
}
#backend #list table th {
  font-weight: 700;
  font-size: 20px;
  padding: 3px 5px;
}
#backend #list table td {
  font-size: 18px;
  padding: 2px 5px;
}
#backend #list table td a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-inline: 2px;
  border-radius: 2px;
  background-color: #161179;
  color: #FBE4D6;
  cursor: pointer;
  font-weight: 700;
}
#backend #list #grid {
  display: none;
}

@media screen and (max-width: 768px) {
  
  #backend #list {
    width: 100%;
    position: relative;
    top: 30px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  }
  #backend #list #function{
    width: clamp(305px,60dvw,420px);
  }
  #backend #list table {
    display: none;
  }
  #backend #list #grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    overflow-y: auto;
    height: calc(75dvh + 10px);
  }
  #backend #list #grid .item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #161179;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 18px;
    width: clamp(150px, 30dvw, 200px);
    height: clamp(180px, 25dvh, 230px);
    accent-color: #161179;
  }
  #backend #list #grid .item input[type=checkbox] {
    width: 20px;
    height: 20px;
    align-self: flex-end;
  }
  #backend #list #grid .item p{
    height: 52px;
  }
  #backend #list #grid .item .button a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-inline: 2px;
    border-radius: 2px;
    background-color: #161179;
    color: #FBE4D6;
    cursor: pointer;
    font-weight: 700;
  }
}/*# sourceMappingURL=list.css.map */

@media screen and (orientation: landscape) and (min-width: 400px) and (max-height: 576px) {
  #backend #orientation-remind {
    display: block;
  }
  #backend :not(#orientation-remind) {
    display: none;
  }
}