

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: clip;
 
  --c1:#FEF3E2;
--c2:#ffbd4a;
--c3:#FA812F;
--c4:#68310c;
}
h2{
  font-size: 46px;
}
h3{
font-size: 32px;
}
h2,h3{
  text-align: center;
  color: var(--c2);
}
p,span,article{
  color: var(--c4);
}
p.content{
  font-size: 28px;
  width: 100%;
  writing-mode: vertical-rl;
  overflow-x: auto;
  height: 25dvh;
  line-height: 3;
}
p.source{
  font-size: 20px;
  writing-mode: vertical-rl;
  overflow-x: auto;
  width: 30%;
  height: 20dvh;
  word-wrap: break-word;
}
p.editor{
  font-size: 16px;
  text-align: end;
}
p#copyright{
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
}
p.thought,p.thought-left{
  font-size: 24px;
  width: 100%;
  writing-mode: vertical-rl;
  height: 22dvh;
  overflow-x: auto;
  line-height: 1.5;
}
p.thought-left{
  width: 30%;
  writing-mode: vertical-lr;
}





.box{
   width: 80dvw;
  max-width: 600px;
 margin: 0 auto;
 padding-block: 30px;
}

.box img{
  width: 100%;
  border-radius: 5px;
}

a.right-link{
   position: fixed;
   top: 20dvh;
   right: 0dvw;
    border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--c4);
  color: #fff;
  writing-mode: vertical-rl;
   font-size: 18px;
  font-weight: 700;
  padding: 5px 2px;
}
a.left-link{
  position: fixed;
   top: 40dvh;
   left: 0dvw;
    border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--c4);
  color: #fff;
  writing-mode: vertical-rl;
   font-size: 18px;
  font-weight: 700;
  padding: 5px 2px;
}
#top{
  position: fixed;
  display: grid;
  place-items: center;
  bottom: 3dvh;
  right: 0dvw;
 writing-mode: vertical-rl;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--c4);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 2px;
}
#page {
  position: relative;
  min-height: 100dvh;
  background-image: url('../../../image/scroll-1920.jpg');
  background-position: center;
  background-size: cover;
}
#page #orientation-remind {
  display: none;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 2px;
}

#open-thought-modal{
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background-color: var(--c4);
  border-radius: 3px;
  padding: 0 5px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 30px auto;
}

#thought-modal{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-30%);
  border-radius: 5px;
 background-color: var(--c4);
 transition: 1s;
 border: none;
 opacity: 0;
}

#thought-modal.open{
 transform: translate(-50%,-50%);
 opacity: 1;
}

#thought-modal::backdrop{
  background-color: rgba(0,0 ,0, 0.7);
}

#thought-add{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 350px;
}

#thought-add label{
  font-size: 32px;
  color: var(--c2);
}

#thought-add textarea{
   font-size: 24px;
  padding: 3px;
  outline: none;
  border: 3px solid var(--c3);
  border-radius: 5px;
  accent-color: var(--c3);
  color: var(--c4);
}
#thought-add textarea::placeholder{
 color: var(--c4);
}
#thought-add textarea:focus{
 border-color: var(--c2);
}


#thought-add #button-area{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#thought-add #button-area button{
   font-size: 22px;
  font-weight: 700;
  color: #fff;
  background-color: var(--c3);
  border-radius: 5px;
  padding: 2px 5px;
  border: none;
  cursor: pointer;
}


@media screen and (orientation: landscape) and (min-width: 400px) and (max-height: 576px) {
  #page{
    display: grid;
    place-items: center;
    background-color: #fff;
    background-image: none;
  }
  #page #orientation-remind {
    display: block;
    font-family: 'Times New Roman', Times, serif;
  }
  #page :not(#orientation-remind) {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */