* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 overflow-x: clip;
 
  --c1:#181C14;
--c2:#3C3D37;
--c3:#697565;
--c4:#ECDFCC;
}



h2,h3{
  text-align: center;
  color: var(--c4);
  font-size: 46px;
}
h3{
  font-size: 32px;
}

.box{
  padding: 20px;
   width: 80dvw;
   margin: 0 auto;

  max-width: 600px;
}
.box img{
  width: 100%;
}
.box *{
  margin-block: 30px;
}



.box a{
  display: block;
    font-weight: 700;
  cursor: pointer;
  color: var(--c4);
  font-size: 28px;
  padding: 3px 8px;
  text-decoration: none;
  text-align: center;
}

p{
  font-size: 20px;
  color: var(--c4);
}
p.editor{
  font-size: 16px;
  text-align: end;
}

p#copyright{
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
  color:var(--c4);
  font-weight: 700;
}

.tag{
     font-size: 20px;
  color: var(--c1);
  background-color: var(--c4);
  border-radius: 3px;
  padding: 0 3px;
  border: none;
  cursor: pointer;
  margin-inline-end: 3px;
}

#open-strategy-modal{
  font-size: 24px;
  font-weight: 700;
  color: var(--c4);
  padding: 0 5px;
  border: 3px solid var(--c4);
  background: none;
  cursor: pointer;
  display: block;
  margin: 30px auto;
}

#strategy-modal{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: var(--c3);
  border: 6px solid var(--c4);
}

#strategy-modal::backdrop{
  background-color: rgba(0,0 ,0, 0.7);
}

#strategy-add{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 320px;
  height: 400px;
}

#strategy-add label{
  font-size: 28px;
  font-weight: 700;
  color: var(--c4);
}

#strategy-add textarea{
   font-size: 24px;
  padding: 3px;
  outline: none;
  border: 6px solid var(--c4);
  accent-color: var(--c4);
  color: var(--c4);
  background: none;
}



#strategy-add #button-area{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#strategy-add #button-area button{
   font-size: 20px;
  font-weight: 700;
  border: 3px solid var(--c4);
  background: none;
  color: var(--c4);
  padding: 0 3px;
  cursor: pointer;
}

section.buttons{
  margin:  60px auto ;
   padding: 20px;
   width: 80dvw;
   max-width: 600px;
   display: flex;
   justify-content: space-evenly;
}

section.buttons a{
    font-weight: 700;
  cursor: pointer;
  color: var(--c4);
  border: 6px solid var(--c4);
  font-size: 28px;
  padding: 3px 8px;
  text-decoration: none;
}




#page {
  position: relative;
  min-height: 100dvh;
 background-color: var(--c1);
}
#page #orientation-remind {
  display: none;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 2px;
}




@media screen and (orientation: landscape) and (min-width: 400px) and (max-height: 576px) {
  #page{
    display: grid;
    place-items: center;
    background-color: #fff;
    background-image: none;
  }
  #page #orientation-remind {
    color: #000;
    padding-inline-start: 0;
    padding-block-start: 0;
    display: block;
    font-family: 'Times New Roman', Times, serif;
  }
  #page :not(#orientation-remind) {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */